body {
    margin: 10px;
    /* background-color: black; */
}

.form {
    display: flex;
    align-items: center;
    margin: 20px;
}

.form-text {
    align-items: center;
    margin: 20px;
}

h1 {
    color: white;
    margin: 0px 20px 0px 20px;
}

p {
    color: #fff;
    font-size: 16px;
    margin: 10 px 10px 0px 10px;
}

label {
    color: #fff;
    font-size: 25px;
    margin: 0px 10px 0px 20px;
}

input {
    margin: 0px 10px 0px 20px;
    background-color: transparent;
    border: 1px solid rgb(247, 244, 244);
    border-radius: 10px;
    color: #fff;
    padding: 14px 15px;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
}

input:hover {
    border: 1px solid #fff;
}

input::-webkit-inner-spin-button {
    -webkit-appearance: none !important;

}

input::-webkit-outer-spin-button {
    -webkit-appearance: none !important;


}

button {
    margin: 0px 10px 0px 10px;
    background-color: transparent;
    border: 1px solid rgb(247, 244, 244);
    border-radius: 10px;
    color: #fff;
    padding: 14px 15px;
    text-decoration: none;
    font-size: 24px;
    width: 150px;
}

button:hover {
    background-color: white;
    color: black;
}


/* The switch - the box around the slider */
.switch {
    font-size: 17px;
    position: relative;
    display: inline-block;
    width: 3.5em;
    height: 2em;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: transparent;
    border: 1px solid #ffffff;
    transition: .4s;
    border-radius: 30px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 1.4em;
    width: 1.4em;
    border-radius: 20px;
    left: 0.27em;
    bottom: 0.25em;
    background-color: #ffffff;
    transition: .4s;
}

input:checked+.slider {
    background-color: #ffffff;
    border: 1px solid #ffffff;
}

input:focus+.slider {
    box-shadow: 0 0 1px #000000;
}

input:checked+.slider:before {
    transform: translateX(1.4em);
    background-color: #000000;
}

